language: java
sudo: false
jdk:
  - openjdk6
  - oraclejdk8
cache:
  directories:
    - $HOME/idea
install:
  - IDEA_VERSION=14.1.1
  - IDEA_TAR=ideaIC-${IDEA_VERSION}.tar.gz
  - IDEA_PARENT_DIR=$HOME/idea
  - IDEA_DIR=$IDEA_PARENT_DIR/$IDEA_VERSION
  - |
    if [ -d $IDEA_DIR ]; then
        echo "Using existing IDEA installation at $IDEA_DIR"
    else
        echo "Removing any existing IDEA installation."
        rm -rf $IDEA_PARENT_DIR
        mkdir -p $IDEA_PARENT_DIR
        echo "Downloading IDEA archive."
        travis_retry wget http://download.jetbrains.com/idea/$IDEA_TAR -P $HOME
        echo "Installing IDEA to $IDEA_DIR"
        tar xzvf $HOME/$IDEA_TAR -C $IDEA_PARENT_DIR
        mv $IDEA_PARENT_DIR/idea-IC-* $IDEA_DIR
    fi
  - echo "Creating build.properties file for ant."
  - echo "idea.home=$IDEA_DIR" > build.properties
script: ant
