language: java
sudo: false
jdk:
  # Disable jdk6 builds as they are mysteriously failing on travis
  # Failing CI job: https://travis-ci.org/carymrobbins/intellij-haskforce/jobs/107356422
  # Issue: https://github.com/carymrobbins/intellij-haskforce/issues/234
  # - openjdk6
  - oraclejdk8
cache:
  directories:
    - $HOME/idea
    - $HOME/.ant
before_install:
  # stack
  - mkdir -p ~/.local/bin
  - export PATH=~/.local/bin:$PATH
  - travis_retry curl -L https://github.com/commercialhaskell/stack/releases/download/v0.1.4.0/stack-0.1.4.0-x86_64-linux.tar.gz | tar xz -C ~/.local/bin
install:
  - IDEA_VERSION=15.0.3
  - IDEA_TAR=ideaIC-${IDEA_VERSION}.tar.gz
  - IDEA_PARENT_DIR=$HOME/idea
  - IDEA_DIR=$IDEA_PARENT_DIR/$IDEA_VERSION
  - |
    if [ -d $IDEA_DIR ]; then
        echo "Using existing IDEA installation at $IDEA_DIR"
    else
        echo "Removing any existing IDEA installation."
        rm -rf $IDEA_PARENT_DIR
        mkdir -p $IDEA_PARENT_DIR
        echo "Downloading IDEA archive."
        travis_retry wget http://download.jetbrains.com/idea/$IDEA_TAR -P $HOME
        echo "Installing IDEA to $IDEA_DIR"
        tar xzvf $HOME/$IDEA_TAR -C $IDEA_PARENT_DIR
        mv $IDEA_PARENT_DIR/idea-IC-* $IDEA_DIR
    fi
  - echo "Creating build.properties file for ant."
  - echo "idea.home=$IDEA_DIR" > build.properties
script: ant
